#PerfectShoes {
    background-color: #A5F3EB;
  .background {
    background-color: #A5F3EB;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
      margin: 0 auto;
    max-width: 1600px;
    display: flex;
    position: relative;
    .imagePart {
      position: absolute;
      width: 50%;

      img {
      }
    }
    .textPart {
        width: 50%;
      position: absolute;
      top: 0;
      right: 0;
      align-items: flex-start;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .title {
        font-size: 27px;
        margin-bottom: 20px;
      }
      .description {
        color: rgb(100, 100, 100);
        margin-bottom: 20px;
      }
      .shopNowBtn {
        button{
         all: unset;
         color: white;
         font-size: 13px;
         letter-spacing: 4px;
        }
        
        background-color: #7971EA;
        text-transform: uppercase;
        cursor: pointer;
        padding: 10px 20px;
      }
    }
  }
}
